---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {  
  font-size: 100%;
}

body {
  background: $white;
  font: 16px $mainFont;
  color: #4e4334;
  height: 100%;
}

.container {  
  margin: 0 auto;
  max-width: 700px;
  padding: 0 10px;
  width: 100%;
  
  @include mobile {
  	width: 90%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px; 
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 35px;
  font-family: 'PT Serif';
  color: #2e2e2e;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  margin-left: -20px;
  a {
    color: inherit;
    font-style: normal;
  }
}

h2 {
  font-size: 25px;
  font-family: $mainFont;
  color: $mainColor;
  text-transform: capitalize;
  font-weight: 200;
}

h3 {
  font-size: 25px;
  font-family: $mainFont;
  color: $mainColor;
  text-transform: capitalize;
  font-weight: 200;
}

h4 {
  font-size: 23px;
  font-family: $mainFont;
  color: $mainColor;
  text-transform: capitalize;
  font-weight: 200;
  line-height: 48px;
}

p {
  margin: 15 0px;
  font-family: 'open sans';
  font-size: 16px;
  line-height: 30px;
  color: #4e4334;
}

a {
  color: $mainColor;
  text-decoration: none;
  font-style: italic;
	cursor: pointer;
  &:hover, &:active {
    color: $mainColor;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

//styles date and author beneath title
.date {
  font-style: none;
  color: #949494;
  text-align: left;
  font-size: 14px;
  font-family: $mainFont;
  text-transform: lowercase;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;

	  display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: 'Josefin sans';
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;	
	display: none;
}


nav {
	display: block; // @TODO: Vertically middle align
	font-family: 'osefin Sans';
	font-size: 14px;
	text-align: center;
	width: 100%;
	background: #fff;
 	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #9e9e9e;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 7px;
	  margin-right: 7px;
    color: #2e2e2e;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
	  padding-top: 10px;
	  padding-bottom: 10px;

    @include mobile {
      margin: 0 10px;
      color: $mainColor;
    }
  }
}

.logo {
	font-family: "Josefin Sans";
}
//
// .main
//

.posts > .post {
  padding-bottom: 3em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;

	  padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

}

//style social media sharing links
.socialShare {
	text-align: right;
	font-family: $mainFont;
	margin-top: 40px;
}

.socialShare a {
	color: #2e2e2e;
	text-align: left;
	font-size: 14px;
	margin: 10px;
	font-style: normal;
}

.socialShare a:hover {
	border-bottom: 1px solid black;
}

//post width 
.post {
	width: 650px !important;
	
	@include mobile {
		width: 90%;
		margin: 0 auto;
	}
}

//style read me link
.readme {
	text-align: center;
	margin-top: 35px;
	width: 100%;
	display: block;
	min-width: 700px;
}

.readme a {
	color: $mainColor;
	background-color: #ffffff;
	text-decoration: none !important;
	font-style: normal !important;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 1.5px;
	transition: 0.5s;
	width: 100%;
	border: 1px solid $mainColor;
}

.readme a:hover {
	background: $mainColor;
	color: #ffffff;
}

//style excerpt
.excerpt {
	line-height: 24px;
	font-family: "open sans";
}

//add border below book info
.bookInfo {
	border-bottom: 1px solid #9e9e9e;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.bookInfo .bookDetails {
	text-transform: lowercase;
	font-weight: bold;
	margin-bottom: 10px;
	font-style: normal;
}

.bookInfo .bookDetails a {
	font-style: normal;
}

//Style book cover
.bookInfo .bookcover {
	float: left;
	padding-right: 20px;
	width: 300px;
}

.bookInfo .p {
	font-size: 18px;
	font-style: italic;
}

footer {
	text-align: center;
	background: #2e2e2e;
	margin-top: 50px;
	word-spacing: 20px;
	margin-bottom: 10px;
}

footer a {
	color: #d1d1d1;
	letter-spacing: 1px;
	font-style: normal;
	font-size: 13px;
	margin-top: 10px;
}

footer a:hover {
	color: #d1d1d1;
}




// style the email submit button
#mce-EMAIL {
	border: none !important;
	background: #ffffff !important;
	color: #2e2e2e !important;
	font: $mainFont !important;
}

#mc_embed_signup{
	background: none; 
	clear:left; 
	width:100%;
}



#mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}

.mc-field-group { 
	display: inline-block; /* positions input field horizontally */
} 

//style imput form
#mce-EMAIL {
	border: none;
	height: 40px;
	font-family: $mainFont;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 30%;
	text-align: center;
}

//style submit buton
#mc-embedded-subscribe {
	border: none;
	height: 40px;
	font-family: $mainFont;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #ffffff;
	padding-left: 40px;
	padding-right: 40px;
}

#mc-embedded-subscribe:hover {
	cursor: pointer;
}

	

#mc_embed_signup .clear {
	display: inline-block; /* positions button horizontally in line with input */
}

//make email signup in footer responsive
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
