---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
    <div class="date">
    (on {{ page.date | date: "%B %e, %Y" }} / by harvey richards)
  </div>

  <div class="entry">
    <div class="bookInfo">
      <!--style this entire thing and then add a border below it-->
      
      <div class="image">
        <!--take author and title from post details and use Google Books api to insert book image-->
        
      </div>
      
      <div class="synopsis">
        <!--take author and title from post details and use Goodreads to insert synopisis-->
        
      </div>
      
      <div class="bookDetails">
        <!--take author and title from post details and insert name, author, publishing date and buy from amazon link // hide this-->
        
      </div>
      
    </div>
    {{ content }}
  </div>
  
  <div class="socialShare">
    <a class="icon" href="{{site.twitter}}"><i> class="fa fa-twitter"></i></a>
    <a class="icon" href="LINK TO YOUR SOCIAL MEDIA ACCOUNTS"><i>class="fa fa-instagram"></i></a>
    <a class="icon" href="LINK TO YOUR SOCIAL MEDIA ACCOUNTS"><i>class="fa fa-facebook"></i></a>
  </div>
  



  {% include disqus.html %}
</article>
