---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
    <div class="date">
    (on {{ page.date | date: "%B %e, %Y" }} / by harvey richards)
  </div>

  <div class="entry">


{% if page.tag == 'review' %}  

    <div class="bookInfo">
      <!--style this entire thing and then add a border below it-->
      
      <div class="image">
        <!--take author and title from post details and use Google Books api to insert book image-->
        <img src="www.booksandcoding.github.io/images/{{ book_cover }}.jpg"> 
        
        
      </div>
      
      <div class="detaiButton">
        <p>show book details</p>
      </div>
      
      <div class="bookDetails">
        <!--take author and title from post details and insert name, author, publishing date and buy from amazon link =  hide this-->
        <b>title:</b> {{ page.book_title }}<br />
        <b>author:</b> {{ page.book_author}} <br />
        <b>publication date:</b> {{ page.book_date }} <br />
        <b>rating:</b> {{ page.book_rating }}/ 5
      </div>
      
      <div class="synopsis">
        <!--take author and title from post details and use Goodreads to insert synopisis-->
        {{ page.book_synopsis }}
        
      </div>
      
      
    </div>
    
{% endif %}
    
    {{ content }}
  </div>
  
  <div class="socialShare">
    <a class="icon" href="#">twitter</a>
    <a class="icon" href="LINK TO YOUR SOCIAL MEDIA ACCOUNTS">facebook</a>
    <a class="icon" href="LINK TO YOUR SOCIAL MEDIA ACCOUNTS">stumbleupon</a>
  </div>
  



  {% include disqus.html %}
</article>
